<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>    
    <title>Hallmark Bingo</title>
</head>
<body>
    <h1>Hallmark Bingo</h1>
    <a href="/">Generate a new one</a>
    <table>
        {% for row in mat %}
        <tr>
            {% for col in row %}
            <td>
                <div class="content" onclick="tick(this)">
                    {{ col }}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
